<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <i class="fas fa-phone"></i> 
        </div>
        <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> baverkacar@gmail.com
        </div>
        <div class="col-md-4" >
        <div class="social text-right">
            <a href="https://github.com/baverkacar", target="_blank">
            <i class="fab fa-github"></i>
            </a>
            <a href="https://www.hackerrank.com/baverkacar", target="_blank">
            <i class="fab fa-hackerrank"></i>
            </a>
            <a href="https://www.linkedin.com/in/baver-ka%C3%A7ar-b14460187/", target="_blank">
            <i class="fab fa-linkedin"></i>
            </a>
        </div>
        </div>
    </div>
    </div>
</section>